{% extends 'layout/header.html'%} 
{%block titulo%} Dashboard{%endblock%}
{%block contenido%}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control de usuarios</small>
      </h1>
     
    </section>

    <!-- Main content -->
    <section class="content">
      
      
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Usuarios</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tabla" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Ciudad</th>
                  <th>Pais</th>
                  <th>Nivel Academico</th>
                  <th>Acciones</th>
                  
                </tr>
                </thead>
                <tbody>
                {% for u in usuarios %}
                <tr>
                   
                  <td>{{u.nombre}}</td>
                  <td>{{u.apellido}}</td>
                  <td>{{u.ciudad}}</td>
                  <td>{{u.pais}}</td>
                  <td>{{u.nivel_academico}}</td>
                  <td>
                    <button type="button" id="btn-editar" class="btn btn-simple ModalEditarProducto"  data-media="{{u.id}}" title="Editar Producto"><i class="material-icons text-primary">Editar</i>
                    </button>
                  </td>
                </tr>
                {%endfor%}
                </tbody>
                
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

  <div class="modal fade" id="ModalEditarProducto" tabindex="-1" role="dialog" aria-labelledby="ModalEditarProductoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="ModalEditarProductoLabel">Editar Usuarios</h4>
        </div>
        <div class="modal-body">
          <section class="content">
             
                    
             <!-- /.box-header -->
             <div class="box-body">
               <form action='{% url "papp:edit" %}' method="post">
                 {% csrf_token %}
                 <div class="form-group has-feedback" style="display: none;">
                   <input id="id_user" type="text" name="id_user" value="">
                 </div>
                 <div class="form-group has-feedback">
                   <input id="nombre_u" type="text" class="form-control" placeholder="Nombre" name="nombre" value="">
                   <span class="glyphicon glyphicon-user form-control-feedback"></span>
                 </div>
                 <div class="form-group has-feedback">
                   <input id="apellido_u" type="text" class="form-control" placeholder="Apellido" name="apellido" value="">
                   <span class="glyphicon glyphicon-user form-control-feedback"></span>
                 </div>
                 <div class="form-group has-feedback">
                   <input id="pais_u" type="text" class="form-control" placeholder="País" name="pais" value="">
                   <span class="glyphicon glyphicon-globe form-control-feedback"></span>
                 </div>
                 <div class="form-group has-feedback">
                   <input id="ciudad_u" type="text" class="form-control" placeholder="Ciudad" name="ciudad" value="">
                   <span class="glyphicon glyphicon-globe form-control-feedback"></span>
                 </div>
                 <div class="form-group has-feedback">
                   <input id="nivel_academico_u" type="text" class="form-control" placeholder="Nivel Academico" name="nivel_academico" value="">
                   <span class="glyphicon glyphicon-user form-control-feedback"></span>
                 </div>
                 
                 <div class="row">
                   
                   <!-- /.col -->
                   <div class="col-xs-4">
                     <button type="submit" class="btn btn-primary btn-block btn-flat">Actualizar</button>
                   </div>
                   <!-- /.col -->
                 </div>
               </form>
             </div>
             <!-- /.box-body -->
                  
             </section>
              
            </div>
          
            
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
            
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {%endblock%}
  {%block scripts%}
  
  <script type="text/javascript">
  $(document).ready(function(){
    $('#tabla').on('click','.ModalEditarProducto',function(){

        id =$(this).attr('data-media');
        $("#id_user").val(id);
        var csrftoken = getCookie('csrftoken');
        $.ajax({
          url : '{% url "papp:get" %}',
          type : 'POST',
          data : 
            { 'csrfmiddlewaretoken' : csrftoken,
              'id' : id,
            },
        
          success : function(data){         
            
              $("#nombre_u").val(data.usuario.nombre);
              $("#apellido_u").val(data.usuario.apellido);
              $("#pais_u").val(data.usuario.pais);
              $("#ciudad_u").val(data.usuario.ciudad);
              $("#nivel_academico_u").val(data.usuario.nivel_academico);
              
              
                              
              $('#ModalEditarProducto').modal('show');
              
            
          },
          error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
            $(".load").fadeOut();
           }              
      
        });
      });
  });
</script>
{%endblock%}
  <!-- /.content-wrapper -->
 